:root {
    --color-blue90: #0F1016;
    --color-blue85: #181d2a;
    --color-blue80: #212838;
    --color-blue70: #345;
    --color-grey50: #888;
    --color-buttonBg: #6C88DD;
}
* {
	margin:0;
	padding:0;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #DDD;
}
body {
	font-family: Helvetica, Arial, Verdana;
    background-color: var(--color-blue90);
}
button, .button {
    border: 2px solid var(--color-blue70);
    border-radius: 4px;
    margin: 0 4px 0 4px;
    padding: 5px 8px;
    background-color: var(--color-blue85);
    cursor: pointer;
}
.luminLetter {
	color: white;
	text-shadow: 0 0 3px #FFFFFF;
}
.luminLetterDull {
	color: #A4B8F4
}
.centerer {
    margin: 0 auto;
    padding: 30px;
    width: 800px;
    position: relative;
    background-color: var(--color-blue80);
    border: 1px solid var(--color-grey50);
    border-radius: 5px;
    margin-top: 10px;
	width: 300px;
}
/*
#contentWrapper {
	position: relative;
}
*/
.wrapper {
	position: relative;
}
#imgBuffer img {
	font-size: 1pt;
	width: 1px;
	opacity: 0.1;
}
.buttonFunction, .buttonFunctionOff {
	position: absolute;
	width:90px;
	text-align: center;
	border-radius: 5px;
	line-height:40px;
	XXXbackground-color: white;
	border:1px solid black;
	white-space: nowrap;
	color: #000;
	background-color: var(--color-buttonBg);
}
#areaCover {
    height: 260px;
    width: 40%;
    left: 200px;
    position: absolute;
    top: 0;
}
.buttonFunctionOff {
	background-color: var(--color-buttonBg);
	color: #384F93;
	border-color: #21346D;
}
.messageText {
	position: absolute;
}
.imgDisplay {
	XXXborder: 1px solid white;
	height: 130px;
	width: 100%;
	margin-left: 0;
	margin-top: 14px;
}
div#imgDisplay img {
    width: 100%;
}
.startInfoText {
	XXXborder:1px solid orange;
	padding-top: 60px;
	width:192px; /* imgs are 192px */
	xxxcolor:white;
	text-align: center;
}
#imageWrapper {
	height: 200px;
}
#buttonWrapper {
	height:150px;
}
.centeringWrapper {
	position: absolute;
	left: 50%;
}
#buttonFaster {
	position: relative;
	left: -50%;
}
#buttonSlower {
	position: relative;
	left: -50%;
	top: 50px;
}
#buttonRepeat {
	top: 45px;
	left: 25px;
}
#buttonForward {
	top: 45px;
	right: 25px;
}
#speedDisplay {
	left: 0;
	text-align: center;
	top: 52px;
	width: 100%;
	font-size: 2em;
	color: white;
}
#answerDisplay {
	color: white;
	font-size:18pt;
	margin-top:42px;
	text-align:center;
}
#debugClearCookies {
	border: 1px solid black;
	border-radius: 3px;
	background-color: silver;
	width: 140px;
	text-align: center;
	padding: 5px;
}
.buttonDefault {
    width: 90px;
    text-align: center;
    border-radius: 5px;
    line-height: 40px;
    background-color: var(--color-buttonBg);
    border: 1px solid black;
    white-space: nowrap;
    color: #000;
}
div#scoreboard {
    text-align: center;
    background-color: #3a5191;
    border-radius: 5px;
    padding: 8px 5px;
}
div#scoreboard div {
    display: inline-block;
}
.bigText ,
.mediumText {
    text-align: center;
    font-size: 2em;
    color: white;
}
.mediumText {
    font-size: 1.5em;
}
.countWrapper {
    width: 90px;
    xxxborder: 1px solid silver;
}
div#scoreboard div {
    display: inline-block;
    vertical-align: top;
}
.countWrapper .countLabel {
    line-height: 14px;
}